{% extends "base.html" %}

{% block content %}
    <div class="register-form">
        <form id="registration-form">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" maxlength="20" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" maxlength="20" required>
            </div>

            <div class="form-group">
                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" id="date_of_birth" name="date_of_birth" required>
            </div>

            <div class="form-actions">
                <button type="submit">Register</button>
                <button type="button" onclick="window.location.href='/'">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}